@import url('./reset.css');
@import url('flatpickr/dist/flatpickr.min.css');
@import url('izitoast/dist/css/iziToast.min.css');

html {
  scroll-behavior: smooth;
}

body {
  margin: 24px 156px 24px 156px;
  background-color: #fafafa;
  color: #212121;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.input-container {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 16px;
}

.timer {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  font-family: Arial, sans-serif;
  text-align: center;
}

.field {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.value {
  font-size: 48px;
  font-weight: 500;
  color: #000;
}

.label {
  font-size: 14px;
  text-transform: uppercase;
  color: #666;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 8px;
}

.form > label:first-of-type {
  display: block;
  margin-bottom: 8px;
}

.form > label:first-of-type > input {
  display: block;
  margin-top: 4px;
}

fieldset {
  margin: 0;
  background-color: #ffffff;
}
